@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  overflow: overlay;
  /*
  background-image: url('./img/background.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: overlay;
  */
}

.scroll_custom::-webkit-scrollbar {
    width: 9px;
}
/* background of the scrollbar except button or resizer */
.scroll_custom::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
.scroll_custom::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, 0.50);
  border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
.scroll_custom::-webkit-scrollbar-button {
  display:none;
}

.scroll_black::-webkit-scrollbar-thumb{
  background-color:rgba(0, 0, 0, 0.25);
}

/*Carrousel Animation*/

/*Titles*/
.slider-title {
  transform: translateX(100px);
  opacity: 0;
  transition: 800ms;
}
.slider-title-shower{
  transform:translateX(0);
  opacity: 1;
  transition-delay: 250ms;
}

/*Texts*/
.slider-text {
  transform: translateX(-100px);
  opacity: 0;
  transition: 800ms;
}
.slider-text-shower{
  transform:translateX(0);
  opacity: 1;
  transition-delay: 350ms;
}

/*Buttons*/
.slider-btn {
  transform: translateY(100px);
  opacity: 0;
  transition: 800ms;
}
.slider-btn-shower{
  transform:translateY(0);
  opacity: 1;
  transition-delay: 500ms;
}